{% extends 'layout.html' %}
{% block body %}
<div class="tile is-ancestor">
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child">
      <figure class="image">
        <img src="{{ url_for('.movie_cover', id=movie.id) }}" alt="Placeholder image">
      </figure>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child box">
      <p class="title">{{ movie.name }}</p>
      <p>{{ movie.description }}</p>
    </div>
  </div>
</div>
<nav class="panel">
  <p class="panel-heading">
    dostępne seanse
  </p>
  <div class="panel-block">
    <div class="field has-addons select-date">
      <p class="control is-expanded">
        <input class="input is-small" type="date">
      </p>
      <p class="control">
        <a class="button is-info is-small">
          Filter day
        </a>
      </p>
    </div>
  </div>
  <p class="panel-tabs">
    <a class="is-active">wszystkie</a>
    <a>kino #1</a>
    <a>kino #2</a>
    <a>kino #3</a>
  </p>
  <a class="panel-block" href="#">
    <span class="panel-icon">
      <i class="fas fa-film"></i>
    </span>
    <time datetime="">22 luty 2018;
      <strong>13:30</strong>
    </time>
    &nbsp;
    <div class="tags has-addons">
      <span class="tag">Sala</span>
      <span class="tag is-primary">Nazwa sali</span>
    </div>
  </a>
  <a class="panel-block" href="#">
    <span class="panel-icon">
      <i class="fas fa-film"></i>
    </span>
    <time datetime="">22 luty 2018;
      <strong>13:30</strong>
    </time>
    &nbsp;
    <div class="tags has-addons">
      <span class="tag">Sala</span>
      <span class="tag is-primary">Nazwa sali</span>
    </div>
  </a>
  <a class="panel-block" href="#">
    <span class="panel-icon">
      <i class="fas fa-film"></i>
    </span>
    <time datetime="">22 luty 2018;
      <strong>13:30</strong>
    </time>
    &nbsp;
    <div class="tags has-addons">
      <span class="tag">Sala</span>
      <span class="tag is-primary">Nazwa sali</span>
    </div>
  </a>
</nav>
{% endblock %}
